body{
    font-family: 'Sansita Swashed', cursive;
}

.--light{
    /* color: #FF5733; */
    color: #CAF0F8;
    /* font-family: 'Sansita Swashed', cursive; */
        
}


.--buttons-nav:hover{
    color: #FF5733;
}
.--buttons-nav:focus{
    color:#FF5733;
}

.--orange-elements{
    color: #FF5733;
    text-align: center;
    border-radius: 7px;
    /* font-family: 'Sansita Swashed', cursive; */
    
}
.--orange-elements:hover{
    color:#CAF0F8;

}
.--orange-elements:focus {
    /* outline: none; */
    box-shadow: none;
    color: #FF5733;
  }
  
.--buttons-main{
        font-size: 20px;
        padding: 0px 60px;
        background-color: transparent;

}

.--buttons-main:hover{
    background-color: transparent;
    /* color:#101010; */
}
.--buttons-main:focus{
    outline:none;
}

.--buttons-main:active{
    background-color: transparent;
}

.--purple-color{
    background-color: #20071b;
}

.--pink-color{
    /* background-color: #C70039; */
    background-color: #00B4D8;
}

.--drk-purple-color{
    /* background-color: #900C3F; */ 
    background-color: #90E0EF;
    color: #03045E;
}

.--inputs{
    background-color: transparent;
    border-radius: 10px;


}

.--inputs::placeholder{
    background-color: transparent;
    border:#00B4D8;
    color: #FF5733;
}

.--inputs:focus{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    color: #FF5733;
}

